# ignore everthing
*

# except directories
!*/

# and gitignore
!.gitignore

# and notes
!*.html
!*.svg
!*.xoj
!*.ora

# and verilog
!*.v

# and c/cpp
!*.c
!*.cpp
!*.h
!*.hpp

# but ignore quartus html things
*.lpc.html

# and embedded git repos
*.git

